
.heading{
 color:purple;
 font-family: Georgia, 'Times New Roman', Times, serif;
}



.test_images{
    border-radius: 20px;
    box-shadow: 5px 5px 30px yellow;
    background: orange;
    padding:30px;
    margin-top:50px;
}

.mini-result{
    text-align: center;
    color: red;
}

ol h5{
background: white;
padding: 13px;
border-radius: 20px;
}

li img{
border-radius: 20px;
}

#conclusion{
    margin-top: 20px;
    width:80%;
    font-size: 30px;
    text-align:center;
}

.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
    font-size:25px;
    background-color:rgb(61, 56, 56);
    color: white;
    
}




